<div class="btn-panel centering">
  <div id="slideBtn">
    <div class="btn-hint" onclick="showHint();">ヒント</div>
    <div class="btn-skip" onclick="skip();">スキップ</div>
    <div class="btn-end" onclick="endSlide();">終了</div>
  </div>

  <div id="resultBtn">
    <div class="btn-retry" onclick="retry();">もう１回</div>
    <div class="btn-end" onclick="endSlide();">終了</div>
  </div>
  <div style="clear:both;"></div>
</div>
